<div class="container-fluid">
  <nav class="navbar navbar-light">
    <span class="navbar-brand mb-0 h1">MAGAZINO DEMO</span>
    <div class="form-row">
      <div class="col-auto">
        <app-ros-connection></app-ros-connection>
      </div>
      <div class="col-auto">
        <app-add-robot></app-add-robot>
      </div>
      <div class="col-auto">
        <app-action-move-to></app-action-move-to>
      </div>
      <div class="col-auto">
      </div>
    </div>
  </nav>
  <hr>
  <div class="row">
    <div class="col-3" >
      <app-action-planner></app-action-planner>
    </div>
    <div class="col-9">
      <app-robot-viewer></app-robot-viewer>
    </div>
  </div>



</div>

